<body>
	<a href="/">Home</a>
	<a href="/about">About Me</a>
	<a href="/blog">Blog</a>

  <h1>About Me</h1>
  <h2>Bagian 1:</h2>
  <p>Deskripsi tentang pekerjaan</p>
  <p>Deskripsi tentang portofolio</p>
</body>