---
import Social from "./Social.astro";

const repositoryName = "milieth-portofolio"
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <p>Learn more about my projects on <a href={`https://github.com/Milieth/${repositoryName}`}>github</a>!</p>
  <Social platform="facebook" username="pravda.mahyun" />
  <Social platform="youtube" username="@milieth3537" />
  <Social platform="x" username="MahyunPrav18354" />
</footer>